@import './colors.scss';

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

.booking {
  background-color: $greenBackground;
  color: $greenFont;
  font-family: 'Oswald', sans-serif;
  font-size: 48pt;
}
.booking a {
  color: inherit;
  text-decoration: none;
}
.booking a:hover {
  color: white;
  text-decoration: none;
}