@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './colors.scss';
@import './variables.scss';

.footer {
  height: 2.8cm;
  background-color: #bcb8b1;
  color: $primary;
  display: grid;
  justify-content: flex-end;
  padding-top: 10px;
  margin-top: 20px;
}

.footer div{
  margin-right: 40px;
}
