@import './colors.scss';

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

.header {
  font-family: 'Oswald', sans-serif;
}

.header a{
  color: inherit;
  text-decoration: none;
}
.header a:hover{
  color: $greenBackground;
  text-decoration: none;
}
.mainMenu {
  font-size: 18pt;
  font-weight: bold;
}
.mainPhoto {
  background-image: url('../img/mainPhoto.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 442px;
}

.mainPhoto h1 {
  font-family: Avenir;
  color: white;
  font-size: 32pt;
  text-shadow: 0 0 3px gray, 0 0 5px gray;
}

.mainPhoto h2 {
  font-family: Avenir;
  color: white;
  font-size: 12pt;
  text-shadow: 0 0 3px gray, 0 0 5px gray;
}